// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary - ein leichtes Rosa/Beige **/
  --ion-color-primary: #f7e0d9; /* Altrosa */
  --ion-color-primary-rgb: 247, 224, 217;
  --ion-color-primary-contrast: #1e1e1e; /* Dunkelgrau für Lesbarkeit */
  --ion-color-primary-contrast-rgb: 30, 30, 30;
  --ion-color-primary-shade: #e0c9c2;
  --ion-color-primary-tint: #f8e7e2;

  /** secondary - ein helles Grau **/
  --ion-color-secondary: #f5f5f5; /* Helles Grau */
  --ion-color-secondary-rgb: 245, 245, 245;
  --ion-color-secondary-contrast: #1e1e1e;
  --ion-color-secondary-contrast-rgb: 30, 30, 30;
  --ion-color-secondary-shade: #d4d4d4;
  --ion-color-secondary-tint: #fafafa;

  /** tertiary - ein unterstützendes Rosa/Beige **/
  --ion-color-tertiary: #e8d4cb; /* Unterstützendes Beige */
  --ion-color-tertiary-rgb: 232, 212, 203;
  --ion-color-tertiary-contrast: #1e1e1e;
  --ion-color-tertiary-contrast-rgb: 30, 30, 30;
  --ion-color-tertiary-shade: #d1beb5;
  --ion-color-tertiary-tint: #eaded7;

  /** success - für Erfolgsmeldungen, ein beruhigendes Grün **/
  --ion-color-success: #a1d6ca; /* Beruhigendes Grün */
  --ion-color-success-rgb: 161, 214, 202;
  --ion-color-success-contrast: #1e1e1e;
  --ion-color-success-contrast-rgb: 30, 30, 30;
  --ion-color-success-shade: #91bfb5;
  --ion-color-success-tint: #b1e1d5;

  /** warning - für Warnmeldungen, ein sanftes Gelb **/
  --ion-color-warning: #fff4e1; /* Sanftes Gelb */
  --ion-color-warning-rgb: 255, 244, 225;
  --ion-color-warning-contrast: #1e1e1e;
  --ion-color-warning-contrast-rgb: 30, 30, 30;
  --ion-color-warning-shade: #e4d6c3;
  --ion-color-warning-tint: #fff6e5;

  /** danger - für Fehlermeldungen, ein dezentes Rot **/
  --ion-color-danger: #f1b4b2; /* Dezentes Rot */
  --ion-color-danger-rgb: 241, 180, 178;
  --ion-color-danger-contrast: #1e1e1e;
  --ion-color-danger-contrast-rgb: 30, 30, 30;
  --ion-color-danger-shade: #d9a2a0;
  --ion-color-danger-tint: #f2c2c0;

  /** dark - der Text soll dunkelgrau sein **/
  --ion-color-dark: #1e1e1e; /* Sehr dunkles Grau */
  --ion-color-dark-rgb: 30, 30, 30;
  --ion-color-dark-contrast: #f7e0d9; /* Für Kontrastelemente in Altrosa */
  --ion-color-dark-contrast-rgb: 247, 224, 217;
  --ion-color-dark-shade: #1b1b1b;
  --ion-color-dark-tint: #383838;

  /** medium - ein mittlerer Grauton **/
  --ion-color-medium: #dcdcdc; /* Mittleres Grau */
  --ion-color-medium-rgb: 220, 220, 220;
  --ion-color-medium-contrast: #1e1e1e;
  --ion-color-medium-contrast-rgb: 30, 30, 30;
  --ion-color-medium-shade: #c4c4c4;
  --ion-color-medium-tint: #e4e4e4;

  /** light - ein sehr helles Grau **/
  --ion-color-light: #f8f8f8; /* Sehr helles Grau */
  --ion-color-light-rgb: 248, 248, 248;
  --ion-color-light-contrast: #1e1e1e;
  --ion-color-light-contrast-rgb: 30, 30, 30;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #fafafa;
}

.md body {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #1e1e1e;
  --ion-text-color-rgb: 30,30,30;

  --ion-border-color: #dcdcdc;

  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #dadada;
  --ion-color-step-200: #cecece;
  --ion-color-step-250: #c2c2c2;
  --ion-color-step-300: #b6b6b6;
  --ion-color-step-350: #aaaaaa;
  --ion-color-step-400: #9e9e9e;
  --ion-color-step-450: #929292;
  --ion-color-step-500: #868686;
  --ion-color-step-550: #7a7a7a;
  --ion-color-step-600: #6e6e6e;
  --ion-color-step-650: #626262;
  --ion-color-step-700: #565656;
  --ion-color-step-750: #4a4a4a;
  --ion-color-step-800: #3e3e3e;
  --ion-color-step-850: #323232;
  --ion-color-step-900: #262626;
  --ion-color-step-950: #1a1a1a;

  --ion-item-background: #ffffff;

  --ion-toolbar-background: #f7e0d9; /* Altrosa */

  --ion-tab-bar-background: #f7e0d9; /* Altrosa */

  --ion-card-background: #f8f8f8; /* Sehr helles Grau */
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/*
 * Dark Colors
 * -------------------------------------------
 */

 body.dark {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

 :root {
	--ion-background-color: #d8d4d4;
	--ion-background-color-rgb: 216,212,212;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;

	--ion-color-step-50: #cdc9c9;
	--ion-color-step-100: #c2bfbf;
	--ion-color-step-150: #b8b4b4;
	--ion-color-step-200: #adaaaa;
	--ion-color-step-250: #a29f9f;
	--ion-color-step-300: #979494;
	--ion-color-step-350: #8c8a8a;
	--ion-color-step-400: #827f7f;
	--ion-color-step-450: #777575;
	--ion-color-step-500: #6c6a6a;
	--ion-color-step-550: #615f5f;
	--ion-color-step-600: #565555;
	--ion-color-step-650: #4c4a4a;
	--ion-color-step-700: #414040;
	--ion-color-step-750: #363535;
	--ion-color-step-800: #2b2a2a;
	--ion-color-step-850: #202020;
	--ion-color-step-900: #161515;
	--ion-color-step-950: #0b0b0b;
}

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}
